---
import Layout from "../layouts/Layout.astro";
import LandingImage from "../assets/Home-Illustration-v2@2x.png";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
	<div class="flex justify-center">
		<Image
			src={LandingImage}
			width={0}
			class=""
			alt="Goose Insurance background image"
		/>
	</div>
</Layout>
