---

---

<div class="w-5 h-1 rounded bg-slate-600"></div>
<div class="w-5 h-[2px] rounded bg-transparent"></div>
<div class="w-5 h-1 rounded bg-slate-600"></div>
<div class="w-5 h-[2px] rounded bg-transparent"></div>
<div class="w-5 h-1 rounded bg-slate-600"></div>
