---
import { Image } from "astro:assets";
import Logo from "../assets/Goose Logo_Black_Home@3x.png";
import Hamburger from "../components/Hamburger.astro";
---

<header class="flex flex-row p-2">
    <Image
        class="xsm:hidden"
        src={Logo}
        alt="Goose Insurance Logo"
        width={160}
    />
    <Image
        class="hidden xsm:flex"
        src={Logo}
        alt="Goose Insurance Logo"
        width={200}
    />
    <nav class="hidden xsm:flex w-full justify-between sm:justify-end">
        <ul
            class="flex w-full justify-end pr-0 sm:pr-8 items-center gap-4 sm:gap-8 md:gap-12"
        >
            <li class="rounded p-2 text-base">
                <p
                    class="whitespace-nowrap text-gray-600 font-semibold hover:text-gpink"
                >
                    Insurance ›
                </p>
            </li>
            <li class="rounded p-2 text-base">
                <p
                    class="whitespace-nowrap text-gray-600 font-semibold hover:text-gpink"
                >
                    Company ›
                </p>
            </li>
            <li class="rounded p-2 text-base">
                <p
                    class="whitespace-nowrap text-gray-600 font-semibold hover:text-gpink"
                >
                    Contact Us ›
                </p>
            </li>
        </ul>
    </nav>
    <nav class="flex xsm:hidden w-full pr-4">
        <Hamburger />
    </nav>
</header>
